In [32]:
import pandas as pd
import folium
from geopy.geocoders import Nominatim
from geopy.point import Point
import numpy as np

## REVERSE GEOCODING

In [2]:
df = pd.read_csv("C:/Users/TANVI/Desktop/zomato_locations.csv")

In [3]:
df.head(2)

  Name  count        lat         lon  avg_rating
0  BTM   5124  45.954851 -112.496595         4.1
1  HSR   2523  18.147500   41.538889         4.1

In [4]:
df.shape

(88, 5)

In [5]:
df.isnull().sum()

Name          0
count         0
lat           0
lon           0
avg_rating    0
dtype: int64

In [6]:
df["geom"] = df["lat"].map(str)+','+df["lon"].map(str)

In [7]:
df.head(2)

  Name  count        lat         lon  avg_rating                        geom
0  BTM   5124  45.954851 -112.496595         4.1    45.95485055,-112.4965953
1  HSR   2523  18.147500   41.538889         4.1  18.1475,41.538889000000005

### For address

In [8]:
from geopy.extra.rate_limiter import RateLimiter

In [9]:
locator = Nominatim(user_agent="myGeocoder",timeout=10)
rgeocode = RateLimiter(locator.reverse,min_delay_seconds=0.01)

In [10]:
import tqdm
from tqdm._tqdm_notebook import tqdm_notebook

<ipython-input-10-7d50d41ead12>:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.*` instead of `tqdm._tqdm_notebook.*`
  from tqdm._tqdm_notebook import tqdm_notebook

In [11]:
from tqdm import tqdm
tqdm.pandas()

C:\Users\TANVI\anaconda3\lib\site-packages\tqdm\std.py:697: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [12]:
df["address"]=df["geom"].progress_apply(rgeocode)

100%|██████████████████████████████████████████████████████████████████████████████████| 88/88 [00:44<00:00,  1.99it/s]

In [13]:
df["address"] = df["address"].astype(str)

In [14]:
df.head()

,Name,count,lat,lon,avg_rating,geom,address
0,BTM,5124,45.954851,-112.496595,4.1,"45.95485055,-112.4965953","Bert Mooney Airport, Four Mile Road, Butte, Si..."
1,HSR,2523,18.147500,41.538889,4.1,"18.1475,41.538889000000005","محافظة البرك, منطقة عسير, السعودية"
2,Koramangala 5th Block,2504,12.934377,77.628415,3.8,"12.9343774,77.628415","DeltaX, 168, 14th Main Road, Koramangala 4th B..."
3,JP Nagar,2235,12.265594,76.646540,3.7,"12.2655944,76.6465404","JP Nagar, Mysuru, Mysuru taluk, Mysuru distric..."
4,Whitefield,2144,44.373058,-71.611858,3.8,"44.373057700000004,-71.6118577","Village Gun Store, 4, Kings Square, Whitefield..."

### For city, state, town

In [15]:
import reverse_geocoder as rg

In [16]:
geolocator = Nominatim(user_agent="test")

def reverse_geocoding(lat,lon):
    try:
        location = geolocator.reverse(Point(lat,lon))
        return location.raw['display_name']
    except:
        return None

In [17]:
def reverseGeocode(coordinates):
    result = rg.search(coordinates)
    return (result)

In [18]:
if __name__ == "__main__":
    
    coordinates = list(zip(df["lat"],df["lon"])) # generating coordinate pair
    data = reverseGeocode(coordinates)
    df["City/Town_Name"] = [i["name"] for i in data]
    df["State"] = [i["admin1"] for i in data]
    df["District"] = [i["admin2"] for i in data]

Loading formatted geocoded file...

In [19]:
df.head()

,Name,count,lat,lon,avg_rating,geom,address,City/Town_Name,State,District
0,BTM,5124,45.954851,-112.496595,4.1,"45.95485055,-112.4965953","Bert Mooney Airport, Four Mile Road, Butte, Si...",Butte,Montana,Silver Bow County
1,HSR,2523,18.147500,41.538889,4.1,"18.1475,41.538889000000005","محافظة البرك, منطقة عسير, السعودية",Ad Darb,Jizan,
2,Koramangala 5th Block,2504,12.934377,77.628415,3.8,"12.9343774,77.628415","DeltaX, 168, 14th Main Road, Koramangala 4th B...",Bangalore,Karnataka,Bangalore Urban
3,JP Nagar,2235,12.265594,76.646540,3.7,"12.2655944,76.6465404","JP Nagar, Mysuru, Mysuru taluk, Mysuru distric...",Mysore,Karnataka,Mysore
4,Whitefield,2144,44.373058,-71.611858,3.8,"44.373057700000004,-71.6118577","Village Gun Store, 4, Kings Square, Whitefield...",Whitefield,New Hampshire,Coos County

In [20]:
df.State.unique()

array(['Montana', 'Jizan', 'Karnataka', 'New Hampshire', 'Western Region',
       'Banten', 'Calabarzon', 'Pennsylvania', 'Telangana', 'England',
       'Virginia', 'South Carolina', 'Maharashtra', 'Alabama', '',
       'Andhra Pradesh', 'North Carolina', 'Indiana', 'Tamil Nadu',
       'Gujarat', 'Madhya Pradesh', 'California'], dtype=object)

# Geocoding

In [47]:
df2 = df.copy()

In [48]:
df2 = df2.drop(columns=["lat","lon"])

In [49]:
df2.columns

Index(['Name', 'count', 'avg_rating', 'geom', 'address', 'City/Town_Name',
       'State', 'District'],
      dtype='object')

In [52]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [53]:
geolocator = Nominatim(user_agent = "test",timeout=10)
location = geolocator.geocode('4550 Kester Mill Rd,Winston-Salem,NC')
print(location)
print((location.latitude, location.longitude))

Walmart Garden Center, 4550, Kester Mill Road, Winston-Salem, Forsyth County, North Carolina, 27103, United States
(36.0681622, -80.3369862)

In [54]:
locator = Nominatim(user_agent="test")
geocode_with_delay=RateLimiter(geolocator.geocode,min_delay_seconds=1)

# Apply the geocoder with delay using the rate limiter:
df2['temp'] = df2['address'].apply(geocode_with_delay)

# Get point coordinates from the GeoPy location object on each row:
df2["coords"] = df2['temp'].apply(lambda loc: tuple(loc.point) if loc else None)

In [55]:
df2.head()

,Name,count,avg_rating,geom,address,City/Town_Name,State,District,temp,coords
0,BTM,5124,4.1,"45.95485055,-112.4965953","Bert Mooney Airport, Four Mile Road, Butte, Si...",Butte,Montana,Silver Bow County,"(Bert Mooney Airport, Four Mile Road, Butte, S...","(45.95485055, -112.49659530324134, 0.0)"
1,HSR,2523,4.1,"18.1475,41.538889000000005","محافظة البرك, منطقة عسير, السعودية",Ad Darb,Jizan,,"(محافظة البرك, منطقة عسير, السعودية, (18.34017...","(18.34017205, 41.59380149983622, 0.0)"
2,Koramangala 5th Block,2504,3.8,"12.9343774,77.628415","DeltaX, 168, 14th Main Road, Koramangala 4th B...",Bangalore,Karnataka,Bangalore Urban,"(DeltaX, 168, 14th Main Road, Koramangala 4th ...","(12.933717999999999, 77.62762641852459, 0.0)"
3,JP Nagar,2235,3.7,"12.2655944,76.6465404","JP Nagar, Mysuru, Mysuru taluk, Mysuru distric...",Mysore,Karnataka,Mysore,"(JP Nagar, Mysuru, Mysuru taluk, Mysuru distri...","(12.2655944, 76.6465404, 0.0)"
4,Whitefield,2144,3.8,"44.373057700000004,-71.6118577","Village Gun Store, 4, Kings Square, Whitefield...",Whitefield,New Hampshire,Coos County,"(Village Gun Store, 4, Kings Square, Whitefiel...","(44.3730155, -71.6116267, 0.0)"